*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 50px auto 0;
}
.container .inner{
    margin: -30px;
}
.container .col{
    margin: 30px;
    max-width: 350px;
    width: 100%;
}
.container .col select{
    width: 100%;
    padding: 10px;
    margin-bottom: 60px;
}
#produntPrice{
    text-decoration: line-through;
    text-decoration-color: green;
    text-decoration-thickness: 2px;
    opacity: 0.4;  
}
.container .col p{
    line-height: 2;
    font-size: 22px;
}